body {
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 100%;    
    height: 600px;
    display: flex;
    justify-content: center; 
    align-items: center;   
    background-color: #9DBEBB;
}

.rectangle-one {
    width: 540px;
    height: 450px;
    display: flex;  
    position: relative;
    flex-direction: column;  
    background-color: #BE0909;     
}  

.rectangle-two {
    width: 290px;
    height: 450px;
    display: flex;
    position: relative;
    background-color: #FFB039;   
}
img {
    position: absolute;
    transform: scale(0.8);
    display: flex;
    align-self: flex-end;
    top: 20px;
    right: 130px;
}

.label,  .btn {
    display: flex;    
    background-color: #BE0909;
    margin-top: 15px;
    margin-left: 15px;
    color: beige;

}
.select {
    -webkit-appearance: none;    
    background-color: #BE0909;
    margin-left: 15px;
    color: beige;
    border-top: none;
    border-right: none;
    border-left: none;
}
input, textarea {    
    background-color: #BE0909;
    margin-top: 5px;
    margin-left: 15px;
    color: beige;
    border-top: none;
    border-right: none;
    border-left: none;
    
}


.btn {}