.container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center; 
    align-items: center;   
    background-color: #9DBEBB;
    
}
.box {
    width: 830px;
    height: 450px;
    display: flex;
    position: relative;
}
.rectangle-one {
    width: 540px;
    height: 450px;
    display: flex;  
    position: relative;
    flex-direction: column;  
    background-color: #BE0909;  
}   

.rectangle-two {
    width: 290px;
    height: 450px;
    display: flex;
    position: relative;
    background-color: #FFB039;   
}
img {
    position: absolute;
    transform: scale(0.8);
    display: flex;
    align-self: flex-end;
    top: 20px;
    right: 130px;
}
 .btn {}